.spinning-logo-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-left, .text-right, .text-top {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  color: #0e0909;
}

.text-left {
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}

.text-right {
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
}

.text-top {
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinning-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-text {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.letter, .space, .e-letter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.letter.show, .space.show, .e-letter.show {
  opacity: 1;
}

.e-letter.transform {
  color: #007bff;
  font-size: 36px;
  font-weight: bold;
}